---
import { Image } from "astro:assets";
import faq from "/src/images/lp/outro/outro.jpg";
---

<section class="relative">
  <Image
    src={faq}
    alt="ハクウェブデザイン FAQ"
    class="absolute top-0 left-0 w-full h-full object-cover object-left"
  />
  <div class="py-[88px] px-[40px]">
    <p class="text-white flex flex-col gap-y-[32px] relative z-10">
      <span>
        ウェブマーケティングは、今やビジネスに欠かせない存在となっています。
      </span>
      <span>
        ホームページやSNSを活用することで、沖縄の魅力を全国・海外へと発信し、より多くの人にあなたのビジネスを知ってもらうことができます。
      </span>
      <span>
        ハクウェブデザインでは、沖縄の中小企業・個人事業主の皆さまが、実業に専念できるよう、集客やブランディングをサポートいたします。
      </span>
      <span>
        観光業・飲食業・ローカルビジネスなど、沖縄ならではの強みを活かしたサイト制作やSNS運用をご提案！
      </span>
      <span>
        「どんなサイトを作ればいいかわからない」「もっと集客を強化したい」そんなお悩みをお持ちの方も、まずはお気軽にご相談ください。
      </span>
    </p>
  </div>
</section>
