---
import Container from './container.astro';

const services = [
    {
        ttl: "TOP",
        url: "/",
    },
    {
        ttl: "プライバシーポリシー",
        url: "/policy",
    },
    {
        ttl: "利用規約",
        url: "/kiyaku",
    },
    {
        ttl: "お問い合わせ",
        url: "/contact",
    },

];
---

<Container cls="bg-[#FFA07A] pb-[40px] z-[20] pt-[40px]">
    <div class="flex flex-col gap-y-[24px] relative">
        <ul class="flex flex-col gap-y-[12px] pb-[32px]">
            {services.map((service) => (
                <li class="flex justify-center text-white tracking-[0.05em] font-[700] font-m">
                    <a rel="prefetch" href={service.url} class="inline-block">{service.ttl}</a>
                </li>
            ))}
        </ul>
        <p class="text-[12px] text-center text-white mt-auto">© HAKUウェブデザイン ALL RIGHTS RESERVED</p>
        <img
            class="absolute top-[-60px] left-[-100px] z-[20]"
            src="/images/common/circle-top.svg"
            alt="circle"
        />
    </div>
</Container>