---
import { Image } from "astro:assets";
import pcHero from '/src/images/top/hero_pc.jpg';

const navMenu = [
    {
        menu: "TOP",
        url: "/"
    },
    {
        menu: "PRODUCT",
        url: "/#product"
    },
    {
        menu: "PRICE",
        url: "/pricing"
    },
    {
        menu: "Q&A",
        url: "/qa"
    },
    {
        menu: "CONTACT",
        url: "/contact"
    },
]
---
<div class="pc-left-panel hidden lg:block fixed left-0 top-0 w-[calc(100vw-500px)] h-[100svh]">
    <Image
        src={pcHero}
        alt="沖縄の夕日が綺麗なビーチ"
        loading="eager"
        decoding="sync"
        class="object-cover absolute w-full h-full object-left"
        width="1280"
    />
    <div class="cover absolute w-full h-full backdrop-contrast-[.8]"></div>
    <ul class="z-[30] absolute top-[64px] left-[52px] tracking-[0.05em] text-[24px] font-[700] flex flex-col gap-y-[12px] xl:text-[28px]">
        {navMenu.map(item => (
            <li class="font-m">
                <a rel="prefetch" class="hover:underline" href={item.url}>{item.menu}</a>
            </li>
        ))}
    </ul>
    <img
        src="/images/top/hero-sub.svg"
        class="absolute left-[70%] top-[72px] min-w-[143px] w-[20%] max-w-[220px]"
        alt="うるま市のウェブ屋さん"
        width="143"
    >
    <img
        src="/images/top/hero-ttl.svg"
        class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[50%] min-w-[400] max-w-[560px]"
        alt="うるま市のウェブ屋さん"
        width="319"
    >
</div>

<style>
    li {
        text-shadow: 2px 2px white;
    }
</style>