---
const navMenu = [
    {
        menu: "TOP",
        url: "/"
    },
    {
        menu: "SERVICE",
        url: "/#service"
    },
    {
        menu: "PRODUCT",
        url: "/#product"
    },
    {
        menu: "PRICING",
        url: "/pricing"
    },
    {
        menu: "Q&A",
        url: "/qa"
    },
    {
        menu: "CONTACT",
        url: "/contact"
    },
]
---
<div class="sp-nav fixed h-[100dvh] w-[100vw] bg-[#f2b174] left-[50%] top-[0] z-[50] max-w-[500px] translate-x-[-50%]">
    <ul class="flex flex-col justify-center items-center h-full w-full gap-y-[24px] mt-[-48px]">
        {navMenu.map(item => (
            <li class="">
                <a rel="prefetch" class="SpNavAnc block text-[24px] font-m font-[700] tracking-[0.05em]" href={item.url}>{item.menu}</a>
            </li>
        ))}
    </ul>
    <img
        class="absolute top-[120px] z-30 right-[20px] w-[120px]"
        src="/images/top/dori.png"
        alt="ドリブルめん"
        width="140"
    />
    <img
        class="absolute top-[32px] w-[140px] z-30 left-[4px]"
        src="/images/top/riba.png"
        alt="リバオー"
        width="140"
    />
    <img
        class="absolute bottom-[32px] w-[160px] z-30 right-[0]"
        src="/images/top/shuto.png"
        alt="シュートメン"
        width="140"
    />
    <img
        class="absolute bottom-[32px] w-[140px] z-30 left-[0]"
        src="/images/top/faru.png"
        alt="ファルコさん"
        width="140"
    />
    <img
        class="absolute bottom-[232px] w-[140px] z-30 left-[-30px]"
        src="/images/top/pass.png"
        alt="パッシーくん"
        width="140"
    />
</div>

<style>
    .sp-nav {
        left: 50%;
        transform: translateX(50%);
        transition: cubic-bezier(0,0,0,1) .3s all;
        opacity: 0;
        visibility: hidden;
    }

    .sp-nav.active {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        visibility: visible;
    }
</style>